<div
  class="h-[80vw] p-[6vw] mt-[14vw] mb-[4vw] lg:h-[32.222vw] lg:p-[2.778vw] lg:mt-[8.333vw] lg:mb-[1.667vw] relative flex items-end justify-end bg-cover"
  style="background-image: url('{% if bg-image %} {{ bg-image | img_url: 'master' }} {% else %} {{ 'banner-bg.jpg' | asset_url }} {% endif %}');"
>
  <a data-anim="fade-up" href="{{ banner_link }}" class="py-[2vw] px-[3vw] gap-[3vw] text-[3vw] leading-[4vw] lg:py-[0.556vw] lg:px-[0.833vw] lg:gap-[1.111vw] lg:text-[0.972vw] lg:leading-[1.389vw] flex items-center text-white bg-[#C4C4C4]/40 backdrop-blur-md">
    {{ banner_btn_text | default: 'Add Bottles' }}
    <span class="w-[4vw] h-[4vw] lg:w-[1.25vw] lg:h-[1.25vw]">{% render 'plus-icon' %}</span>
  </a>
</div>
