<li
  {{ block.shopify_attributes }}
  class="px-[2.4vw] py-[1vw] lg:px-[0.764vw] lg:py-[0.278vw] border text-[2.8vw] leading-[4vw] lg:text-[0.972vw] lg:leading-[1.389vw] rounded-[0.5vw] lg:rounded-[0.139vw]"
  style="border-color: {% if color %} {{ color }} {% else %} var(--color-primary) {% endif %}; color: {% if color %} {{ color }} {% else %} var(--color-primary) {% endif %}; "
>
  {{ block.settings.feature_text }}
</li>
