<div class="bg-[#F4F4F5] pt-[5.556vw] pb-[3.889vw]">

    {% render 'section-header', label: section.settings.label, heading: section.settings.heading, description: section.settings.description, link: section.settings.link, link_text: section.settings.link_text %}

    <div class="pt-[8.333vw] swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                
            </div>
          </div>
    </div>

</div>