<div class="pt-[12vw] pb-[4vw] lg:pt-[5.556vw] lg:pb-[1.667vw] flex flex-col lg:flex-row items-start lg:items-end justify-between gap-[6vw] lg:gap-0 max-w-[92vw] lg:max-w-[88.889vw] mx-auto">
  <div class="w-full lg:w-[40%]">
    <p data-anim="fade-up" class="text-black text-[4vw] leading-[5.4vw] mb-[4vw] lg:text-[1.389vw] lg:leading-[1.667vw] lg:mb-[1.667vw]">
      {{ section.settings.description }}
    </p>

    <a
      href="{{ section.settings.link }}"
      data-anim="fade-up"
      class="text-[#222222] uppercase text-[2.6vw] leading-[2.6vw] gap-[3vw] lg:text-[0.694vw] lg:leading-[0.694vw] lg:gap-[1.111vw] flex items-center"
    >
      view more
      <span class="w-[3vw] h-[3vw] lg:w-[0.833vw] lg:h-[0.833vw]">
        {% render 'black-arrow-icon' %}
      </span>
    </a>
  </div>
  <div class="w-full lg:w-[60%]">
    <p data-anim="fade-up" class="text-[#222222] font-medium text-[2.8vw] leading-[3.6vw] lg:text-[0.903vw] lg:leading-[1.181vw] text-left lg:text-right">
      {{ section.settings.second_text }}
    </p>
    <ul data-anim="stagger-children" class="flex gap-[1.5vw] lg:gap-[0.417vw] flex-wrap justify-start lg:justify-end mt-[4vw] lg:mt-[1.667vw]">
      {% for block in section.blocks %}
        {% render 'text-box', block: block, color: section.settings.feature_color %}
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Custom Text Box",
  "settings": [
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Url"
    },
    {
      "type": "text",
      "id": "second_text",
      "label": "Second Text Line"
    },
    {
      "type": "color",
      "id": "feature_color",
      "label": "Feature Box Color"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Text Box",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "feature_text": "Engineering"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Durability"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "BPA-Free Lid"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Performance"
          }
        }
      ]
    }
  ]
}
{% endschema %}
