<div class="pt-[5.556vw] flex items-end justify-between max-w-[88.889vw] mx-auto">
  <div class="w-[40%]">
    <p data-anim="fade-up" class="text-black text-[1.389vw] leading-[1.667vw] mb-[1.667vw]">
      {{ section.settings.description }}
    </p>

    <a
      href="{{ section.settings.link }}"
      data-anim="fade-up"
      class="text-[#222222] uppercase text-[0.694vw] leading-[0.694vw] flex items-center gap-[1.111vw]"
    >
      view more
      <span class="w-[0.833vw] h-[0.833vw]">
        {% render 'black-arrow-icon' %}
      </span>
    </a>
  </div>
  <div class="w-[60%]">
    <p data-anim="fade-up" class="text-[#222222] font-medium text-[0.903vw] leading-[1.181vw] text-right">
      {{ section.settings.second_text }}
    </p>
    <ul data-anim="stagger-children" class="flex gap-[0.417vw] flex-wrap justify-end mt-[1.667vw]">
      {% for block in section.blocks %}
        {% render 'text-box', block: block %}
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Custom Text Box",
  "settings": [
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Url"
    },
    {
      "type": "text",
      "id": "second_text",
      "label": "Second Text Line"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Text Box",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "feature_text": "Engineering"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Durability"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "BPA-Free Lid"
          }
        },
        {
          "type": "feature",
          "settings": {
            "feature_text": "Performance"
          }
        }
      ]
    }
  ]
}
{% endschema %}
