<div class="max-w-[88.889vw] mx-auto pt-[13.889vw] pb-[15.556vw]">
  <div class="grid gap-[8.889vw] grid-cols-4 items-start">
    {% for block in section.blocks %}
      <div class="icon-box text-center flex flex-col items-center justify-start gap-[1.389vw]">
        <h3 class="text-[0.833vw] leading-[1.181vw] font-(--font-primary--family) uppercase text-black tracking-[0.028vw]">
          {{ block.settings.title }}
        </h3>
        <p class="text-[1.389vw] text-[#6C6F77] leading-[1.667vw] font-normal">{{ block.settings.description }}</p>
        <img
          src="{{ block.settings.icon | img_url: '200x' }}"
          alt="{{ block.settings.title }}"
          class="mx-auto w-[2.222vw] h-[2.222vw]"
        >
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Icon Box Section",
  "settings": [],
  "blocks": [
    {
      "type": "icon_box",
      "name": "Icon Box",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Icon Box Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "This is a description for the icon box. It provides more details about the feature or service."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon Box Section"
    }
  ]
}
{% endschema %}
